@font-face {
    font-family: 'NaikaiFont-Bold';
    src: url('font/NaikaiFont-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NaikaiFont-ExtraLight';
    src: url('font/NaikaiFont-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NaikaiFont-Light';
    src: url('font/NaikaiFont-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'NaikaiFont-Regular-Lite';
    src: url('font/NaikaiFont-Regular-Lite.ttf') format('truetype');
}

@font-face {
    font-family: 'NaikaiFont-Regular';
    src: url('font/NaikaiFont-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NaikaiFont-SemiBold';
    src: url('font/NaikaiFont-SemiBold.ttf') format('truetype');
}


@media only screen and (max-width: 700px) {
    #sssscake {
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        margin-right: 20px
    }

    
    #shopping-cart {
        margin-left: auto;
        width: 30px; 
        height: 30px; 
        margin-right: 28px!important; 
    }

    nav ul li {
        display: inline-block !important;
        margin-right: 10px !important;
        font-size: 0.8em !important;
    }
    
    main {
        font-size: 10px; 
    }

    body {
        font-family: 'NaikaiFont-Regular', 'NaikaiFont-Regular-Lite', 'NaikaiFont-SemiBold', 'NaikaiFont-Light', 'NaikaiFont-ExtraLight', 'NaikaiFont-Bold', Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffe6e6; /* 設置底色為粉紅色 */
        position: relative; /* 讓頁面的滾動不影響 header 的位置 */
        overflow-x: hidden; /* 隱藏水平滾動條 */
    }
    
    footer p {
        font-size: 10px;
    }

    #desserts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        max-width: 80%; 
        margin: 0 auto; 
        background-color: #ffffff; 
    }
    

    .dessert-image {
        max-width: 95%;
        height: auto; 
        border-radius: 20px;
        margin-right: 200px;
    }

    .description-container {
        margin-left: 20px!important;
        font-size: 28px!important;
    }
    
    .dessert-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
    }
    
    .dessert-info h2 {
        margin: 0;
        margin-bottom: 20px!important;
        font-size: 24px!important;
    }
    
    .dessert-info p {
        margin: 0;
        font-size: 12px!important;
    }
    
    .dessert-info span.price {
        font-size: 10px!important;
    }
    
    .dessert-description {
        flex-grow: 2;
        margin-left: 10px!important;
    }
    .spacer { 
        height: 180px!important; 
    }
    
}






body {
    font-family: 'NaikaiFont-Regular', 'NaikaiFont-Regular-Lite', 'NaikaiFont-SemiBold', 'NaikaiFont-Light', 'NaikaiFont-ExtraLight', 'NaikaiFont-Bold', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6; 
    position: relative; /* 讓頁面的滾動不影響 header 的位置 */
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

#sssscake {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-right: 20px
}

#shopping-cart {
    margin-left: auto;
    margin-right: 300px;
}


.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-links {
    display: flex; 
    align-items: center; 
}

.header-links a {
    margin-left: 20px; 
}

header h1 {
    margin: 0;
    color: #bf360c;
}

nav {
    background-color: #ffffff; 
    text-align: center; 
    padding: 5px 0; 
    font-family:  'NaikaiFont-Regular-Lite', Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    display: block;
    color: #000000; 
    text-decoration: none;
    font-size: 1.5em; 
    transition: font-size 0.2s; 
}

nav ul li a:hover {
    font-size: 2.3em; /* 碰到，放大文字 */
}

main {
    padding: 20px;
    margin-top: 100px; 
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #ffccbc;
    padding: 10px; 
    text-align: center; 
    width: 100%; 
}
#desserts main p {
    text-align: center;
}


#desserts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1200px; 
    max-width: 80%; 
    margin: 0 auto; 
    background-color: #ffffff; 
}

#desserts-spacer {
    height: 48px; 
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.dessert-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; 
    padding: 60px; 
    box-sizing: border-box; 
}

.dessert-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 200px;
}

.description-container {
    font-size: 40px;
}

.dessert-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.dessert-info h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 60px;
}

.dessert-info p {
    margin: 0;
    font-size: 32px;
}

.dessert-info span.price {
    font-size: 28px;
}

.dessert-description {
    flex-grow: 2;
    margin-left: 20px;
}


.spacer { 
    height: 260px; 
}


